#register-role label {
    padding: 1px 0 0 17px;
    margin-left: 15px;
}
#register-role span {
    font-weight: bold;
}
#logout-form {
    display: none;
}
.logo img {
    width: 90%;
}
.spaceY70 {
    margin-top: 70px;
}
.spaceY40 {
    margin-top: 40px;
}
.spaceY10 {
    margin-top: 10px;
}
.spaceL20 {
    margin-left: 20px;
}
.alignCenter {
    text-align: center;
}
.form-control[readonly] {
    border: 1px solid #e67e22;
}
#select-subjects, #select-categories {
    width: 90%;
    float:left;
}
#remove-subject, #remove-category {
    display: none;
    float: left;
    font-size: 20px;
    margin: 5px;
}
#create-subject, #create-category {
    display: none;
}
#create-subject input, #create-category input {
    width: 70%;
    float: left;
}
.floatLeft {
    float: left;
}
#detail-amount {
    margin-left: 5px;
    font-weight: bold;
    color: #1abc9c;
    font-size: 18px;
}
.alertify-notifier .ajs-message.ajs-error {
    background: rgba(217, 92, 92, 0.95);
    color: #fff;
}
