#register-role label {
    padding: 1px 0 0 17px;
    margin-left: 15px;
}
#register-role span {
    font-weight: bold;
}
#logout-form {
    display: none;
}
.logo img {
    width: 90%;
}
.spaceY70 {
    margin-top: 70px;
}
.spaceY40 {
    margin-top: 40px;
}
.spaceY10 {
    margin-top: 10px;
}
.spaceL20 {
    margin-left: 20px;
}
.alignCenter {
    text-align: center;
}
.form-control[readonly] {
    border: 1px solid #e67e22;
}
#select-subjects, #select-categories {
    width: 90%;
    float:left;
}
#remove-subject, #remove-category {
    display: none;
    float: left;
    font-size: 20px;
    margin: 5px;
}
#create-subject, #create-category {
    display: none;
}
#create-subject input, #create-category input {
    width: 70%;
    float: left;
}
.floatLeft {
    float: left;
}
#detail-amount {
    margin-left: 5px;
    font-weight: bold;
    color: #1abc9c;
    font-size: 18px;
}
.alertify-notifier .ajs-message.ajs-error {
    background: rgba(217, 92, 92, 0.95);
    color: #fff;
}
.alertify-notifier .ajs-message.ajs-success {
    background: rgba(91, 189, 114, 0.95);
    color: #fff;
}
#my-edit {
    border: none;
    width: 120px;
    color: #000;
}
#service-price {
    float: right;
    font-size: 15px;
    margin-right: 15px;
}
#images-gallery {
    height: 100%;
}
#imgs-grid-image {
    width: 100%;
}

ul.review-list li .review-replied {
    margin-top: -30px;
}
.review-date {
    font-style: italic;
}
.related-content {
    word-wrap: break-word;
}
.frm-reply-review form{
    display: none;
}
.rating-item .fa {
    font-size: 17px;
}
#btn-forks {
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: #f39c12;
    font-weight: bold;
}
.fork-service {
    text-indent: 30px;
}
.orange {
    color: #f39c12;
}
.service-name {
    font-weight: 600;
}
.turquoise {
    color: #1abc9c;
}
.fork-detail-title {
    font-size: 19px;
}
.content-chat {
    max-width: 100%;
    height: 300px;
    overflow: auto;
    background: #fff;
    margin-bottom: 3px;
    border-radius: 2px;
    border: 1px solid #ecf0f1;
}
.input-chat {
    max-width: 100%;
    height: 70px;
    border-radius: 2px;
    background: #fff;
}
.input-chat textarea {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border: 1px solid #ecf0f1;
}
.you, .me {
    width: 99%;
    height: auto;
    float: left;
    border: 1px solid #ecf0f1;
}
.message-you {
    margin-left: 17px;
    float: left;
}
.message-me {
    margin-right: 17px;
    float: right;
}
